.schedule {
    margin: 20px;
    display: flex;
    width: 100%;
    height: 115vh;
    background-color: #f5f5f5;
}
.start_time {
    margin: 2px;
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    
}
.end_time {
    margin: 2px;
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}
.date {
    margin: 2px;
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}
.resume {
    margin: 20px;
    display: inline-flex;
    flex-direction: column;
}
.submit_btn{
    padding:20px 26px;
    background: rgba(0, 128, 128, 0.87);
    line-height: 25px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 35px;
    outline: none;
  }
  .submit_btn:hover{
    background-color: white;
    color: #030b22;
    box-shadow: 2px 2px 50px 10px rgba(0, 255, 179, 0.841);
    margin-top: 0.5rem;
  }