.entry {
    text-align: left;
    padding: 14vh 6vw;
}

.entry h1 {
    font-size: 3.5rem;
    margin: 3vh 0;
    color: #0a183d;
}

.entry h1 span {
    color: teal;
}

.entry h4 {
    color: #0a183d;
    margin: 4vh 0;
}

.entry h4 span {
    color: teal;
}

.entry p {
    margin: 5vh 0;
}

.entryImg {
    padding-top: 10vh;
    padding-left: 10vw;
    -webkit-animation: anime_hero 10s linear infinite alternate;
    animation: anime_hero 10s linear infinite alternate;
}

@keyframes anime_hero {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}
#robot {
    filter: drop-shadow(0 -6mm 4mm rgba(8, 1, 10, 0.51));
}
.stylebutton{
  padding:45px 32px;
  background: rgba(0, 128, 128, 0.87);
  line-height: 25px;
  font-size: 30px;
  font-weight: lighter;
  text-transform: capitalize;
  color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 35px;
  outline: none;
}
.stylebutton:hover{
  background-color: white;
  color: #030b22;
  box-shadow: 2px 2px 50px 10px rgba(0, 255, 179, 0.841);
  margin-top: 0.5rem;
}
